@font-face{
  font-family: "Roboto-Regular.ttf";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
  font-family: "CODEBold.otf";
  src: url("../fonts/CODEBold.otf");
}
@font-face{
  font-family: "Aver.ttf";
  src: url("../fonts/Aver.ttf");
}
body{
  margin: 0;
  padding: 0;
}
.main-nav{
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;
  box-shadow: 2px 2px 2px #B3B3B3;
}
.nav-list{
  /* text-align: center; */
  padding-top: 6px;
  height: 30px;
  overflow: hidden;
  float: right;
  margin-right: 100px;
  background-color: white;
}
.main-section{
  height: 100vh;
  margin: -1px;
  overflow: hidden;
  background-color: black;
  background-position: fixed;
  /* background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)); */
}
.video-container{
  position: relative;
  width: 100%;
  height: 100%;
}
u{
  text-decoration: none;
}
.myVideo{
  width: 100%;
  opacity: 0.5;
}
.myVideo:before{
  opacity: .6;
  position: absolute;
}
.first-blurb{
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 60px;
  color: white;
  position: absolute;
  padding-top: 20%;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.nav-opt{
  font-family: "Roboto-Regular.ttf";
  font-size: 18px;
  display: inline;
  padding: 50px;
  margin: 3px;
}
.section-two{
  height: 100vh;
  margin: 0;
  padding: 1px;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)),
  url("/assests/jeshoots-com-219386.jpg");
  background-size: cover;
  overflow: hidden;
  /* background-color: #bd0000; */
  background-attachment: fixed;
  /* border: 6px solid black; */
}
.about{
  margin-top: 7%;
}
.about-blurb{
  text-align: center;
  font-size: 2.0rem;
  font-family: "CODEBold.otf";
  color: #e2ec68;
}
.about-me{
  padding-top: 100px;
  font-family: "Helvetica Neue";
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  float: left;
  width: 40%;
  margin-left: 18%;
}
.icon-anna{
  border-radius: 92px;
  float: left;
  /* margin-top: 23%; */
  margin-left: 15%;
}
.section-three{
  height: 180vh;
  background-color: #ececec;
  /* background-color: #29C3ED; */
  padding: 1px;
  overflow: hidden;
}
.technical-skills{
  text-align: center;
  font-family: "Roboto-Regular.ttf";
  color: black;
  font-size: 25px;
  margin-top: 7%;
  /* margin-bottom: 7%; */
  width: 420px;
  margin-left: 33%;
  line-height: 2.2em;
  box-sizing: border-box;
  border: 2px solid black;
}
.skills{
  overflow: hidden;
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  padding: 0;
  padding-top: 94px;
  transition: 0.6s;
  /* transform-style: preserve-3d;
  position: relative; */
  /* added perspective below */
  /* perspective: 1000px; */
}
.language{
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  /* added stuff above */
  text-align: center;
  padding: 0px;
  display: inline-block;
  padding-bottom: 100px;
  width: 30%;
}
/* .front, .back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
} */
/* .front{
  z-index: 1;
}
.back {
  transform: rotateX(-180deg);
  background-color:green; 
  animation: toFront 0.3s linear normal forwards;
}

.li.language{
  position: relative;
  perspective: 1000px;
}
.li.language:hover .back {
  animation-delay: 0.3s;
  animation: toBack 0.3s linear normal  forwards;
}
@keyframes toBack {  
  0% {z-index:0;}
  100% {z-index:1;}
}
@keyframes toFront {
  0% {z-index:1;}
  100% {z-index:0;}
}
li.language {
  transform-origin: 100% 100px; 
}

li.language:hover {
  transform: rotateX(-180deg);
}  */
.lang-img{
  height: 130px;
}
.back{
  height: 150px;
  /* width: 200px; */
  padding: 0;
  border: 2px solid black;
}
/* .li.language:hover{
  border: 2px solid red;
  transform: rotateX(-180deg);
}  */
.other-skils{
  text-align: center;
}
.other-skills-img{
  height: 130px;
}
.other-skils-ul{
  list-style-type: none;
  margin-top: -40px;
  margin-left: 33%;
  margin-right: 33%;
  padding-top: 50px;
  text-align: center;
  height: 270px;
  border: 2px solid black;
}
.other-skills-li{
  padding: 5px;
  font-family: "Roboto-Regular.ttf";
  color: black;
  font-size: 17px;
}
.other-skills-li:hover{
  color: white;
}
.projects-section{
  height: 90vh;
  text-align: center;
  overflow: hidden;
}
.my-projects-blurb{
  padding: 40px;
}
.projects-container{
  padding: 25px;
  display: inline-block;
}
.projects-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.project-li{
  float: left;
  /* padding: 25px; */
  margin: 0;
} 
.project-img{
  height: 250px;
  border: 2px solid black;
}
.project-about{
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 17px;
}
/* .project-li a span{
display: none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(28, 28, 28, 0.88);
color: #ddd;
padding: 20px;
}
.project-li:hover a span{
  display: block;
}  */
.section-four{
  height: 30vh;
  text-align: center;
}
.contact-container{
  padding: 25px;
  display: inline-block;
}
.contact-photo{
  height: 300px;
  margin-left: 15%;
  float: left;
  border-radius: 100px;
}
.blurb-two{
  text-align: center;
  font-family: "Roboto-Regular.ttf";
  font-size: 20px;
  margin-top: 5%;
}
.contact-info{
  float: left;
  list-style-type: none;
  display: block;
  padding: 0;
}

.contact-li{
  display: block;
  float: left;
  width: 100px;
  height: 44px;
  font-size: 2.8em;
}
.fa-linkedin-square{
  color: #2F7AB4;
}
.fa-github-square{
  color: black;
}
.fa-envelope-square{
color: #cd3838;
}
.footer-note{
  font-family: sans-serif;
  font-size: 15px;
}






/* PROJECTS PAGE */
/* .name-home{
  padding-top: 6px;
  height: 30px;
  overflow: hidden;
  float: left;
  margin-right: 100px;
  background-color: white;

}
#project-one{
  height: 100vh;
  background-color: #E85E5E;
}
#project-two{
  height: 100vh;
  background-color: #0AA2E3;
}
#project-three{
  height: 100vh;
  background-color: #DB6BDB;
}
.full-proj-container{
  position: relative;
  overflow: hidden;
}
.desktop-container{
  height: 100%;
  position: relative;

.apple-container{
  position: relative;
  height: 500px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.apple-monitor{
  position: absolute;
  height: 500px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-container-one{
  position: relative;
  height: 100%;
}
.project-container-two{
  position: relative;
  height: 100%;
}
.project-container-three{
  position: relative;
  height: 100%;
}
.project-img-one{
  position: absolute;
  height: 64.61%;
  top: 7%;
  left: 4.6%;
  width: 91%;
}
.project-img-two{
  position: absolute;
  height: 64.61%;
  top: 7%;
  left: 4.6%;
  width: 91%;
  z-index: -1;
}
.project-img-three{
  position: absolute;
  height: 64.61%;
  top: 7%;
  left: 4.6%;
  width: 91%;
} */
/* Remember This */
/* .project-img{
  position: absolute;
  height: 64.61%;
  top: 7%;
  left: 4.6%;
  width: 91%;
} */
